// Colours partial

// Text colours
$txt-primary: rgba(28, 54, 83, 0.9);
// body font
$txt-secondary: #043481ff;
// heading font
$txt-light: #faf8f6ff;
// header/hero
$txt-accent: #ff9b50ff;
$form-placeholder: #043481ff;
// form placeholder text
// Global colours
$accent-color: #f57874ff;
// global accent colour
$accent-color-hover: #ff9b50ff;
$btn-background: #043481ff;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3D4351;
$h3-color: #3D4351;
$h5-color: #3D4351;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;